body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}



/*left side*/
.left-side {
    background-color:#248ad7;
    color: white;
    width: 25%;
    padding: 30px;
}

.profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}



/*right side*/
.right-side {
    background-color: white;
    width: 50%;
    padding: 40px;
    color: #444;
}

.ntitle {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.fntitle {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.jtitle {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin: 0;
    position: relative;
    padding-bottom: 5px;
}

.jtitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #1f3b60;
}
.FN {
    font-weight: 800;
}

.SN {
    color: #0b2c45;
    font-weight: 400;
}

.section {
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: left;
    margin-right: 50px;
}

.section-title {
    font-size: 27px;
    font-weight: bold;
    color: #0b2c45;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.section-name {
    color: #333;
    font-weight: bold;
}

.line {
    background-color: #0b2c45;
    height: 0.5px;
}

.section-text {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.section-jtitle {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
}

.section-we {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid #0b2c45;
}

.section-date {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
}

.contact-section {
    text-align: left;
}

.contact-section h2 {
    letter-spacing: 3px;
}

.education-gap {
    margin-top: 50px;
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #a60b13;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown-button:hover {
    background-color: #a60b13;
}

.experience-item {
    margin-top: 10px;
}

.controls {
    width: 294px;
    margin: 15px auto;
}

#remove_fields {
    float: right;
}

.controlls a i.fa-minus {
    margin-right: 5px;
}

.wrapper {
    width: 300px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47,.1);
}

input[type="text"]{
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(266 266 266);
    background: none;
    width: 274px;
    color: black;
}

input[type="text"]:focus {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

#removefields {
    float: right;
}

.wrapper-1 {
    width: 700px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47,.1);
}

#remove__fields {
    float: right;
}

input[type="dum"]{
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(266 266 266);
    background: none;
    width: 650px;
    color: black;
}